<!-- Erik Toresson, 2015-03-23 -->
@{
    ViewBag.Title = "Meddelanden";
}

<div class="jumbotron">
    <h1>Meddelanden</h1>
    <p class="lead">Klicka 'Messages' i menyn för att nå vyn för meddelandehantering.
    <br />Vyn är öppen för alla. Det finns alltså för nuvarande ingen direkt använding av accounts/login.</p>
</div>